<div id="mid_tool_column" class="row" class="col-sm">
    <div class="column">
        <div>Gaussian</div>
        <input id="gaussian_slider" type="range" min="0" max="100" value="0" name="gaussian_slider" oninput="gaussian_amount.value=gaussian_slider.value">
        <br>
        <input id="gaussian_amount" class="slider_input_box" type="number" value="0" min="0" max="200" oninput="gaussian_slider.value=gaussian_amount.value" />
    </div>
</div>