<div id="mid_tool_column" class="col-sm">
    <button id="no_filter_button" class="btn-sm" onclick="return noFilter();">No Filter</button>
    <button id="vertical_mirror_button" class="btn-sm" onclick="return verticalMirror();">Vertical Mirror</button>
    <button id="horizontal_mirror_button" class="btn-sm" onclick="return horizontalMirror();">Horizontal Mirror</button>
    <button id="grayscale" class="btn-sm" onclick="return grayScale();">Grayscale</button>
    <button id="invert_button" class="btn-sm" onclick="return invert();">Invert</button>
    <button id="smooth_button" class="btn-sm" onclick="return smooth();">Smooth</button>
    <button id="sharpen_button" class="btn-sm" onclick="return sharpen();">Sharpen</button>
    <br><br>
</div>