<div id="tools_row" class="row">
    <div id="left_tool_column" class="col-sm">
        <h5>Image Size</h5>
        <p id="image_size_text"><i>180x147</i></p>
    </div>
    <div id="mid_tool_column" class="col-sm">
        <p id="to_text"><b>TO</b></p>
    </div>
    <div id="right_tool_column" class="col-sm">
        <input type="number" class="size_input_fields" name="image_width" id="image_width" placeholder="Width">
        <input type="number" class="size_input_fields" name="image_width" id="image_height" placeholder="Height">
    </div>
</div>
<div class="row">
    <div id="factor_text_row" class="text-center">
        <p id="factor_text"><b>OR SCALE TO FACTOR</b></p>
    </div>
</div>
<div class="row">
    <div id="factor_tools_row" class="text-center">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="scaleFactors" id="scale1.5" value="1.5">
            <label class="form-check-label" for="scale1.5">1.5x</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="scaleFactors" id="scale2.0" value="2.0">
            <label class="form-check-label" for="scale2.0">2.0x</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="scaleFactors" id="scale3.0" value="3.0">
            <label class="form-check-label" for="scale3.0">3.0x</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="scaleFactors" id="scale4.0" value="4.0">
            <label class="form-check-label" for="scale4.0">4.0x</label>
        </div>
    </div>
</div>